---
- name: Get checksum of the osx.sh script
  ansible.builtin.stat:
    path: "{{ playbook_dir }}/scripts/osx.sh"
    checksum_algorithm: sha256
  register: osx_script_stat

- name: Get checksum from .osx.sh.done file
  ansible.builtin.slurp:
    src: "{{ ansible_facts.env.HOME }}/.osx.sh.done"
  register: osx_done_checksum
  ignore_errors: true

- name: Configure macOS defaults
  when: >
    osx_done_checksum is failed or
    osx_script_stat.stat.checksum != (osx_done_checksum.content | b64decode | default(''))
  block:
    - name: Run osx.sh script
      ansible.builtin.script:
        cmd: "{{ playbook_dir }}/scripts/osx.sh"
      register: osx_script_result
      changed_when: osx_script_result.rc == 0

    - name: Store osx.sh checksum
      ansible.builtin.copy:
        content: "{{ osx_script_stat.stat.checksum }}"
        dest: "{{ ansible_facts.env.HOME }}/.osx.sh.done"
        mode: "0644"
      when: osx_script_result.rc == 0
