name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          cache: pip
          python-version: "3.14"

      - name: Install ansible-lint
        shell: bash
        run: |
          pip install ansible ansible-lint
          ansible-galaxy collection install community.general

          ansible-lint --version

      - name: Run ansible-lint
        shell: bash
        run: ansible-lint
